<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?menuCircularId=169433
  -->
<configuration>

  <configSections>
    <!-- BDN_Captcha -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BDN_Captcha.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- BDN_Captcha -->
  </configSections>
  
  <connectionStrings>
    <add name="BradescoRI" connectionString="Persist Security Info=True;User ID=usr_BradescoRI;Password=pwd_bradescori;Initial Catalog=NET_BRADESCO_RI_V2;Data Source=wfdev.cloudapp.net,60205" providerName="System.Data.SqlClient"/>
    <add name="BradescoCanalFinanceiro" connectionString="Persist Security Info=True;User ID=wfportal;Password=portal;Initial Catalog=dbCanalFinanceiro;Data Source=wfdev.cloudapp.net,60205" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"></add>

    <!--CHAVE CRIPTOGRAFIA -->
    <add key="BradescoRI.ChaveLogin" value="awtAk47Pt380"/>
    <!--CONFIGURACOES EMAIL-->
    <add key="BradescoRI.HostPadrao" value="mailapp.infobradesco.com.br"/>
    <add key="BradescoRI.RemetentePadrao" value="bradesco@infobradesco.com.br"/>
    <!--<add key="BradescoRI.HostPadrao" value="smtp.gmail.com"/>
    <add key="BradescoRI.RemetentePadrao" value="gerevini.2008@gmail.com"/>-->
    <!--<add key="BradescoRI.DestinatarioPadrao" value="mayribeiro@gmail.com"/>-->
    <add key="BradescoRI.Template.EsqueciMinhaSenha" value="C:\WF\TFS\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Email\EsqueciMinhaSenha.html"/>
    <add key="BradescoRI.Template.FaleConosco" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\FaleConosco\FaleConosco.html"/>

    <!--PATH PUBLICACAO PAGINAS -->
    <add key="BradescoRI.Path.Pagina.Aprovadas" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Paginas"/>
    <add key="BradescoRI.Path.Pagina.Aprovadas.Backup" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Paginas\Backup"/>
    <add key="BradescoRI.Path.Pagina.Default" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager"/>

    <!-- PATH ARQUIVOS -->
    <add key="BradescoRI.Path.Arquivos.Default" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Uploads\Arquivos\Default"/>
    <add key="BradescoRI.Path.Arquivos.Aprovados" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Uploads\Arquivos\Aprovados"/>
    <add key="BradescoRI.Path.Arquivos.Aprovados.Backup" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Uploads\Arquivos\Backup"/>
    <add key="BradescoRI.Path.Arquivos.Reprovados" value="C:\WF\Projetos\Bradesco\Bradesco.RI\Main\BradescoRI.Site\Manager\Uploads\Arquivos\Reprovados"/>

    <!-- PATH IMAGENS MÓDULOS-->
    <add key="BradescoRI.Path.Imagens.ModHeader" value="/Manager/Uploads/Imagens/Header"/>
    <add key="BradescoRI.Path.Imagens.ModImagemUnica" value="/Manager/Uploads/Imagens/ImagemUnica"/>
    <add key="BradescoRI.Path.Imagens.ModBanner" value="/Manager/Uploads/Imagens/Banners"/>
    <add key="BradescoRI.Path.Imagens.ModCaixas" value="/Manager/Uploads/Imagens/Caixas"/>
    <add key="BradescoRI.Path.Imagens.ModMenuCircular" value="/Manager/Uploads/Imagens/MenuCircular"/>
    <add key="BradescoRI.Path.Imagens.ModMenuCircularHome" value="/Manager/Uploads/Imagens/MenuCircularHome"/>

    <!-- CAPTCHA COMPONENT -->
    <add key="CryptKey" value="5269853267!@#$%¨*"/>
    <add key="captchaService.captchaservice" value="http://institucional.bradesco.com.br/WSAudioCaptcha/AudioCaptcha/captchaservice.asmx"/>
    <!-- // CAPTCHA COMPONENT -->
    <add key="Uranet.brad_callback_site" value="http://201.91.148.14/webservices/brad_callback_site.php"/>

    <!-- MODULOS ACCORDION -->
    <add key="ModulosAccordion" value=";1;4;34;"/>

  </appSettings>
  <!-- BDN_Captcha -->
  <applicationSettings>
    <BDN_Captcha.My.MySettings>
      <setting name="BDN_Captcha_captchaService_AudioCaptchaService" serializeAs="String">
        <value>http://institucional.bradesco.com.br/WSAudioCaptcha/AudioCaptcha/captchaservice.asmx</value>
      </setting>
    </BDN_Captcha.My.MySettings>
  </applicationSettings>
  <!-- BDN_Captcha -->
  <system.web>
    <httpRuntime maxRequestLength="32768" />
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Erro/Erro404.aspx?er"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="90" defaultUrl="~/Modulos/Default.aspx" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" timeout="90"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>      
      <add verb="GET" path="CaptchaImage.aspx" type="BDN_Captcha.CaptchaImageHandler, BDN_Captcha"/>
    </httpHandlers>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>